* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--text);
}

:root {
  --text: #333333;
  --border: rgba(51, 51, 51, 0.2);
  --green: #018e42;
  --blue: #0d62ff;
  --red: #ed1c24;
  --blue-light: #b4ceff;
}
